*.json

*./Debug/*
/Debug
*.v2
*.suo
*.cache
*.pdf
/AREA1/Views/LctGnrlz/LctGnrlz.cshtml
/AREA1/obj/Debug/netcoreapp3.1/staticwebassets/AREA1.StaticWebAssets.xml
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/test.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_KlasLayout.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/LctSportHeader.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/LctSportFooter.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/Main.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/Login/Login.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/LctSport/BoardQnaWriteStdPage.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/LctSport/BoardListStdPage.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/LctGnrlz/LctGnrlz.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/AREA1.Views.pdb
/AREA1/obj/Debug/netcoreapp3.1/AREA1.Views.dll
/AREA1/obj/Debug/netcoreapp3.1/AREA1.RazorTargetAssemblyInfo.cs
/AREA1/obj/Debug/netcoreapp3.1/AREA1.RazorAssemblyInfo.cs
/AREA1/obj/Debug/netcoreapp3.1/AREA1.pdb
/AREA1/obj/Debug/netcoreapp3.1/AREA1.MvcApplicationPartsAssemblyInfo.cs
/AREA1/obj/Debug/netcoreapp3.1/AREA1.dll
/AREA1/obj/Debug/netcoreapp3.1/AREA1.csproj.FileListAbsolute.txt
/AREA1/obj/Debug/netcoreapp3.1/AREA1.csproj.CopyComplete
/AREA1/obj/Debug/netcoreapp3.1/AREA1.AssemblyInfo.cs
/AREA1/obj/Debug/netcoreapp3.1/apphost.exe
/AREA1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AREA1/obj/AREA1.csproj.nuget.g.targets
/AREA1/obj/AREA1.csproj.nuget.g.props
/AREA1/Controllers/Lrn_Sport/Lct_Gnrlz/LctGnrlzController.cs
/AREA1/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/System.Text.Json.dll
/AREA1/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/AREA1/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/AREA1/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/AREA1/bin/Debug/netcoreapp3.1/System.DirectoryServices.Protocols.dll
/AREA1/bin/Debug/netcoreapp3.1/System.DirectoryServices.dll
/AREA1/bin/Debug/netcoreapp3.1/System.Diagnostics.PerformanceCounter.dll
/AREA1/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/AREA1/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/AREA1/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
/AREA1/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.DirectoryServices.Protocols.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.DirectoryServices.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/AREA1/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/AREA1/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/WindowsBase.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Xml.XPath.XDocument.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Xml.XPath.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Xml.XmlSerializer.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Xml.XmlDocument.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Xml.XDocument.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Xml.Serialization.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Xml.ReaderWriter.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Xml.Linq.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Xml.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Windows.Extensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Windows.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Web.HttpUtility.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Web.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.ValueTuple.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Transactions.Local.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Transactions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Threading.Timer.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Threading.ThreadPool.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Threading.Thread.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Threading.Tasks.Parallel.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Threading.Tasks.Extensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Threading.Tasks.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Threading.Tasks.Dataflow.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Threading.Overlapped.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Threading.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Threading.Channels.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Text.RegularExpressions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Text.Encodings.Web.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Text.Encoding.Extensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Text.Encoding.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Text.Encoding.CodePages.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.ServiceProcess.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.ServiceModel.Web.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.SecureString.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Principal.Windows.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Principal.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Permissions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Cryptography.Xml.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Cryptography.X509Certificates.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Cryptography.Primitives.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Cryptography.Encoding.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Cryptography.Csp.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Cryptography.Cng.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Cryptography.Algorithms.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.Claims.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Security.AccessControl.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.Serialization.Xml.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.Serialization.Primitives.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.Serialization.Json.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.Serialization.Formatters.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.Serialization.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.Numerics.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.Loader.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.Intrinsics.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.InteropServices.WindowsRuntime.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.InteropServices.RuntimeInformation.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.InteropServices.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.Handles.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.Extensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.CompilerServices.VisualC.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Runtime.CompilerServices.Unsafe.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Resources.Writer.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Resources.ResourceManager.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Resources.Reader.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Reflection.TypeExtensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Reflection.Primitives.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Reflection.Metadata.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Reflection.Extensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Reflection.Emit.Lightweight.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Reflection.Emit.ILGeneration.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Reflection.Emit.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Reflection.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Reflection.DispatchProxy.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.ObjectModel.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Numerics.Vectors.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Numerics.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.WebSockets.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.WebSockets.Client.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.WebProxy.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.WebHeaderCollection.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.WebClient.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.Sockets.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.ServicePoint.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.Security.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.Requests.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.Primitives.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.Ping.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.NetworkInformation.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.NameResolution.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.Mail.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.HttpListener.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.Http.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Net.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Memory.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Linq.Queryable.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Linq.Parallel.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Linq.Expressions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Linq.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.UnmanagedMemoryStream.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.Pipes.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.Pipelines.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.MemoryMappedFiles.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.IsolatedStorage.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.FileSystem.Watcher.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.FileSystem.Primitives.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.FileSystem.DriveInfo.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.FileSystem.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.Compression.ZipFile.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.Compression.FileSystem.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.Compression.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.IO.Compression.Brotli.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Globalization.Extensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Globalization.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Globalization.Calendars.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Dynamic.Runtime.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Drawing.Primitives.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Drawing.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Diagnostics.Tracing.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Diagnostics.TraceSource.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Diagnostics.Tools.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Diagnostics.TextWriterTraceListener.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Diagnostics.StackTrace.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Diagnostics.Process.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Diagnostics.FileVersionInfo.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Diagnostics.EventLog.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Diagnostics.Debug.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Diagnostics.Contracts.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Data.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Data.DataSetExtensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Data.Common.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Core.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Console.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Configuration.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.ComponentModel.TypeConverter.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.ComponentModel.Primitives.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.ComponentModel.EventBasedAsync.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.ComponentModel.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.ComponentModel.DataAnnotations.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Collections.Specialized.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Collections.NonGeneric.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Collections.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Collections.Concurrent.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.Buffers.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/System.AppContext.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/netstandard.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/mscorlib.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Win32.Registry.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Win32.Primitives.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.VisualBasic.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.VisualBasic.Core.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Net.Http.Headers.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.JSInterop.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.WebEncoders.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Options.DataAnnotations.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.ObjectPool.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Logging.TraceSource.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Logging.EventSource.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Logging.EventLog.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Logging.Debug.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Logging.Console.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Logging.Configuration.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Localization.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Localization.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Identity.Stores.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Identity.Core.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Http.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Hosting.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Hosting.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.FileSystemGlobbing.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.FileProviders.Physical.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.FileProviders.Embedded.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.FileProviders.Composite.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.FileProviders.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Diagnostics.HealthChecks.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Configuration.Xml.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Configuration.UserSecrets.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Configuration.KeyPerFile.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Configuration.Json.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Configuration.Ini.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Configuration.FileExtensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Configuration.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Configuration.CommandLine.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.Extensions.Configuration.Binder.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.CSharp.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.WebUtilities.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.WebSockets.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.StaticFiles.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.SignalR.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.SignalR.Core.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.SignalR.Common.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Session.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Server.Kestrel.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Server.Kestrel.Core.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Server.IISIntegration.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Server.IIS.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Server.HttpSys.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Routing.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Routing.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Rewrite.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.ResponseCompression.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.ResponseCaching.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Razor.Runtime.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Razor.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.ViewFeatures.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.TagHelpers.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.RazorPages.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.Razor.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.Localization.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.Formatters.Xml.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.Formatters.Json.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.DataAnnotations.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.Cors.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.Core.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.ApiExplorer.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Mvc.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Metadata.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Localization.Routing.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Localization.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Identity.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.HttpsPolicy.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.HttpOverrides.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Http.Features.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Http.Extensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Http.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Http.Connections.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Http.Connections.Common.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Http.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Html.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Hosting.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Hosting.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.HostFiltering.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Diagnostics.HealthChecks.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Diagnostics.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Diagnostics.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.DataProtection.Extensions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.DataProtection.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.DataProtection.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Cryptography.Internal.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Cors.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.CookiePolicy.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Connections.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Components.Web.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Components.Server.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Components.Forms.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Components.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Components.Authorization.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Authorization.Policy.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Authorization.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Authentication.OAuth.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Authentication.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Authentication.Core.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Authentication.Cookies.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Authentication.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/refs/Microsoft.AspNetCore.Antiforgery.dll
/AREA1/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/Oracle.ManagedDataAccess.dll
/AREA1/bin/Debug/netcoreapp3.1/Oracle.EntityFrameworkCore.dll
/AREA1/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.dll
/AREA1/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
/AREA1/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/AREA1/bin/Debug/netcoreapp3.1/AREA1.Views.pdb
/AREA1/bin/Debug/netcoreapp3.1/AREA1.Views.dll
/AREA1/bin/Debug/netcoreapp3.1/AREA1.pdb
/AREA1/bin/Debug/netcoreapp3.1/AREA1.exe
/AREA1/bin/Debug/netcoreapp3.1/AREA1.dll
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/LctSport/Task/BoardListTaskPage.cshtml.g.cs
/AREA1/obj/Debug/netcoreapp3.1/Razor/Views/LctSport/BoardViewStdPage.cshtml.g.cs
