@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Hello @ViewData["UserId"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form id="aform">
        group_nm  : <input name="group_nm" /><br>
        code_nm  : <input name="code_nm" /><br>
        <!--
        FirstName : <input name="first_name" /><br>
        Address   : <input name="address" /><br>
        City      : <input name="city" /><br>
        -->
    </form>

    <button id="btn_insert">Insert Button</button>
    <button id="btn_update">Update Button</button>
    <button id="btn_delete">Delete Button</button>
    <button id="btn_select">Select Button</button>

    <br>
    <div id="rslt_select">
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btn_insert").click(function () {

            $("#aform").attr("action", "/Home/InsertData");
            $("#aform").attr("method", "POST");
            $("#aform").submit();

        });
    });

    $("#btn_select").click(function () {
        $("#aform").attr("action", "/Home/SelectData");
        $("#aform").attr("method", "POST");

        $("#aform").ajaxForm({
            success: function (data) {
                var table = '<table id="rslt_table">' +
                    '<tr>' +
                    '<td>group_id</td>' +
                    '<td>code_id</td>' +
                    '<td>code_nm</td>' +
                    '</tr>' +
                    '<tbody></tbody>' +
                    '</table> ';
                $("#rslt_select").html(table);
                for (let i = 0; i < data.length; ++i) {
                    $("#rslt_table > tbody:last").append("<tr><td>"
                        + data[i].value['GROUP_ID'] + "</td><td>" +
                        data[i].value['CODE_ID'] + "</td><td>" +
                        data[i].value['CODE_NM'] + "</td></tr>");
                }
            }
        });

        $('#aform').submit();
    });
</script>
