<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>광운대학교</title>
    <link rel="shortcut icon" href="/Main/Main" type="image/x-icon">
    <link rel="icon" href="/Main/Main" type="image/x-icon">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>

    <script src="/js/vue-loading-overlay3.js"></script>
    <link href="/css/vue-loading.css" rel="stylesheet">

    <script type="text/javascript" src="/js/es6-promise.min.js"></script>
    <script type="text/javascript" src="/js/es6-promise.auto.min.js"></script>

    <script src="/js/vue-toasted.min.js"></script>

    <style type="text/css">
        .toasted {
            padding: 0 20px
        }

            .toasted.rounded {
                border-radius: 24px
            }

            .toasted .primary, .toasted.toasted-primary {
                border-radius: 2px;
                min-height: 38px;
                line-height: 1.1em;
                background-color: #353535;
                padding: 0 20px;
                font-size: 15px;
                font-weight: 300;
                color: #fff;
                box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
            }

                .toasted .primary.success, .toasted.toasted-primary.success {
                    background: #4caf50
                }

                .toasted .primary.error, .toasted.toasted-primary.error {
                    background: #f44336
                }

                .toasted .primary.info, .toasted.toasted-primary.info {
                    background: #3f51b5
                }

                .toasted .primary .action, .toasted.toasted-primary .action {
                    color: #a1c2fa
                }

            .toasted.bubble {
                border-radius: 30px;
                min-height: 38px;
                line-height: 1.1em;
                background-color: #ff7043;
                padding: 0 20px;
                font-size: 15px;
                font-weight: 300;
                color: #fff;
                box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
            }

                .toasted.bubble.success {
                    background: #4caf50
                }

                .toasted.bubble.error {
                    background: #f44336
                }

                .toasted.bubble.info {
                    background: #3f51b5
                }

                .toasted.bubble .action {
                    color: #8e2b0c
                }

            .toasted.outline {
                border-radius: 30px;
                min-height: 38px;
                line-height: 1.1em;
                background-color: #fff;
                border: 1px solid #676767;
                padding: 0 20px;
                font-size: 15px;
                color: #676767;
                box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
                font-weight: 700
            }

                .toasted.outline.success {
                    color: #4caf50;
                    border-color: #4caf50
                }

                .toasted.outline.error {
                    color: #f44336;
                    border-color: #f44336
                }

                .toasted.outline.info {
                    color: #3f51b5;
                    border-color: #3f51b5
                }

                .toasted.outline .action {
                    color: #607d8b
                }

        .toasted-container {
            position: fixed;
            z-index: 10000
        }

            .toasted-container, .toasted-container.full-width {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column
            }

                .toasted-container.full-width {
                    max-width: 86%;
                    width: 100%
                }

                    .toasted-container.full-width.fit-to-screen {
                        min-width: 100%
                    }

                        .toasted-container.full-width.fit-to-screen .toasted:first-child {
                            margin-top: 0
                        }

                        .toasted-container.full-width.fit-to-screen.top-right {
                            top: 0;
                            right: 0
                        }

                        .toasted-container.full-width.fit-to-screen.top-left {
                            top: 0;
                            left: 0
                        }

                        .toasted-container.full-width.fit-to-screen.top-center {
                            top: 0;
                            left: 0;
                            -webkit-transform: translateX(0);
                            transform: translateX(0)
                        }

                        .toasted-container.full-width.fit-to-screen.bottom-right {
                            right: 0;
                            bottom: 0
                        }

                        .toasted-container.full-width.fit-to-screen.bottom-left {
                            left: 0;
                            bottom: 0
                        }

                        .toasted-container.full-width.fit-to-screen.bottom-center {
                            left: 0;
                            bottom: 0;
                            -webkit-transform: translateX(0);
                            transform: translateX(0)
                        }

                .toasted-container.top-right {
                    top: 10%;
                    right: 7%
                }

                .toasted-container.top-left {
                    top: 10%;
                    left: 7%
                }

                .toasted-container.top-center {
                    top: 10%;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%)
                }

                .toasted-container.bottom-right {
                    right: 5%;
                    bottom: 7%
                }

                .toasted-container.bottom-left {
                    left: 5%;
                    bottom: 7%
                }

                .toasted-container.bottom-center {
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    bottom: 7%
                }

                .toasted-container.bottom-left .toasted, .toasted-container.top-left .toasted {
                    float: left
                }

                .toasted-container.bottom-right .toasted, .toasted-container.top-right .toasted {
                    float: right
                }

                .toasted-container .toasted {
                    top: 35px;
                    width: auto;
                    clear: both;
                    margin-top: 10px;
                    position: relative;
                    max-width: 100%;
                    height: auto;
                    word-break: normal;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    align-items: center;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    box-sizing: inherit
                }

                    .toasted-container .toasted .fa, .toasted-container .toasted .fab, .toasted-container .toasted .far, .toasted-container .toasted .fas, .toasted-container .toasted .material-icons, .toasted-container .toasted .mdi {
                        margin-right: .5rem;
                        margin-left: -.4rem
                    }

                        .toasted-container .toasted .fa.after, .toasted-container .toasted .fab.after, .toasted-container .toasted .far.after, .toasted-container .toasted .fas.after, .toasted-container .toasted .material-icons.after, .toasted-container .toasted .mdi.after {
                            margin-left: .5rem;
                            margin-right: -.4rem
                        }

                    .toasted-container .toasted .action {
                        text-decoration: none;
                        font-size: .8rem;
                        padding: 8px;
                        margin: 5px -7px 5px 7px;
                        border-radius: 3px;
                        text-transform: uppercase;
                        letter-spacing: .03em;
                        font-weight: 600;
                        cursor: pointer
                    }

                        .toasted-container .toasted .action.icon {
                            padding: 4px;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-align: center;
                            align-items: center;
                            -ms-flex-pack: center;
                            justify-content: center
                        }

                            .toasted-container .toasted .action.icon .fa, .toasted-container .toasted .action.icon .material-icons, .toasted-container .toasted .action.icon .mdi {
                                margin-right: 0;
                                margin-left: 4px
                            }

                            .toasted-container .toasted .action.icon:hover {
                                text-decoration: none
                            }

                        .toasted-container .toasted .action:hover {
                            text-decoration: underline
                        }

        @@media only screen and (max-width:600px) {
            #toasted-container {
                min-width: 100%
            }

                #toasted-container .toasted:first-child {
                    margin-top: 0
                }

                #toasted-container.top-right {
                    top: 0;
                    right: 0
                }

                #toasted-container.top-left {
                    top: 0;
                    left: 0
                }

                #toasted-container.top-center {
                    top: 0;
                    left: 0;
                    -webkit-transform: translateX(0);
                    transform: translateX(0)
                }

                #toasted-container.bottom-right {
                    right: 0;
                    bottom: 0
                }

                #toasted-container.bottom-left {
                    left: 0;
                    bottom: 0
                }

                #toasted-container.bottom-center {
                    left: 0;
                    bottom: 0;
                    -webkit-transform: translateX(0);
                    transform: translateX(0)
                }

                #toasted-container.bottom-center, #toasted-container.top-center {
                    -ms-flex-align: stretch !important;
                    align-items: stretch !important
                }

                #toasted-container.bottom-left .toasted, #toasted-container.bottom-right .toasted, #toasted-container.top-left .toasted, #toasted-container.top-right .toasted {
                    float: none
                }

                #toasted-container .toasted {
                    border-radius: 0
                }
        }
    </style>

    <script src="/js/moment.min.js"></script>

    <script src="/js/vuejs-paginate.js"></script>
    <style type="text/css">
        a[data-v-82963a40] {
            cursor: pointer
        }
    </style>

    <script src="/js/common-vue.js"></script>

    <script>Vue.use(VueLoading);
        Vue.component('loading', VueLoading);

        Vue.use(Toasted);
        Vue.component('paginate', VuejsPaginate);</script>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fileDownload.js"></script>
    <script src="/js/main.js"></script>
    <script>moment.locale('ko', {
            weekdays: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
            weekdaysShort: ['일', '월', '화', '수', '목', '금', '토']
        });</script><!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles-->
    <link href="/css/style.css" rel="stylesheet">
    <!-- font icon-->
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all">

    <style>
        .vdp-datepicker div input {
            width: 90px !important;
            text-align: center !important;
        }
    </style>
    <script src="/js/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="/css/jquery.modal.min.css">
    <script src="/js/Chart.min.js"></script>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-top">
            <div class="container">

                <div class="col-md-6 toplogo">
                    <a href="/Main/Main" class="navbar-brand"> <img src="/images/layout/logo.png"> </a>
                    <button class="navbar-toggler navtoggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>


                <div class="col-md-6 navtxt">
                    <a href="https://klas.kw.ac.kr/std/ads/admst/MyInfoStdPage.do"><i class="fas fa-cog"></i>@(ViewData["name"])(@ViewData["user_id"])</a> &nbsp;&nbsp; <a href="/Login/DoLogout">Logout</a><i class="fas fa-sign-out-alt"></i>
                </div>

            </div>
        </div>

        <div class="collapse bg-menu" id="navbarHeader">
            <div class="container">
                <div class="row topmenutxt">

                    <div class="col-sm-3 py-4">
                        <h4 class="titlecolor01">
                            <a href="javascript:void(0)" onclick="linkUrl(&#39;&#39;);"><font color="white">대학생활</font></a>
                        </h4>

                        <ul class="list-unstyled depth02ul">

                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">수강관리</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/atnlc/TimetableStdPage.do&#39;);">수업시간표</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/ads/admst/KwAttendStdPage.do&#39;);">출석관리(KW출첵)</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/atnlc/LectrePlanStdPage.do&#39;);">강의계획서 조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/atnlc/LctreReqstNewProgPage.do&#39;);">수강신청 프로그램</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/atnlc/GiveupStdPage.do&#39;);">수강포기 신청</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/atnlc/ExchgHakjumStdPage.do&#39;);">교류 학점 신청</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/atnlc/CdpAtendStdPage.do&#39;);">CDP 출석내역</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/atnlc/CdpAtendQustnrStdPage.do&#39;);">CDP 출석여부 설문조사</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">학습결과</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/inqire/LctreEvlResultStdPage.do&#39;);">수업평가 결과 확인</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/inqire/AtnlcScreStdPage.do&#39;);">수강/성적 조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/inqire/StandStdPage.do&#39;);">석차 조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/inqire/ToeicStdPage.do&#39;);">어학성적 조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/inqire/JanghakStdPage.do&#39;);">장학 조회</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">학적관리</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/hakjuk/DetailMajorSelectStdPage.do&#39;);">세부전공 선택</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/hakjuk/CompnoMajorStdPage.do&#39;);">복수/부/심화전공 신청/조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/hakjuk/CntcSbjectStdPage.do&#39;);">연계전공 신청/조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/hakjuk/TmpabssklStdPage.do&#39;);">휴복학 신청</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 py-4">
                        <h4 class="titlecolor01">
                            <a href="javascript:void(0)" onclick="linkUrl(&#39;&#39;);"><font color="white">강의종합정보</font></a>
                        </h4>

                        <ul class="list-unstyled depth02ul">

                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">학습지원실</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="/LctGnrlz/LctGnrlz">강의종합</a>
                                    </li>
                                    <li>
                                        <a href="/Notice/SelectPageListNotice">강의 공지사항</a>
                                    </li>
                                    <li>
                                        <a href="/QNA/SelectPageListNotice">강의 묻고답하기</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/sport/6972896bfe72408eb72926780e85d041/BoardListStdPage.do&#39;);">강의 자료실</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/sport/70778131bf7a421aba99dded74b3fb6b/BoardListStdPage.do&#39;);">수강생 자료실</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/evltn/TaskStdPage.do&#39;);">과제제출</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/evltn/OnlineTestStdPage.do&#39;);">온라인시험 응시</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/evltn/AnytmQuizStdPage.do&#39;);">수시퀴즈 응시</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/evltn/PrjctStdPage.do&#39;);">팀프로젝트</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/evltn/DscsnStdPage.do&#39;);">토론참여</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/sport/QustnrStdPage.do&#39;);">설문참여</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/evltn/LrnSttusStdPage.do&#39;);">학습현황 조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/cps/inqire/LctreEvlStdPage.do&#39;);">수업평가</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">온라인 강의</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/evltn/OnlineCntntsStdPage.do&#39;);">온라인 강의컨텐츠 보기</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/evltn/LrnSttusRtprgsStdPage.do&#39;);">온라인 컨텐츠 진도현황 조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/lctre/EClassStdPage.do&#39;);">E-class 강의 복습</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/lis/sport/DicStdPage.do&#39;);">용어사전</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 py-4">
                        <h4 class="titlecolor01">
                            <a href="javascript:void(0)" onclick="linkUrl(&#39;&#39;);"><font color="white">공학교육</font></a>
                        </h4>

                        <ul class="list-unstyled depth02ul">

                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">학생(수강)상담</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/egn/cnslt/SuhakPlanStdPage.do&#39;);">수학계획서 작성</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/egn/cnslt/CnsltDetailStdPage.do&#39;);">상담내역 조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/egn/cnslt/TrnsPntRCnsltStdPage.do&#39;);">전입생 학점인정 상담</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">학습성과 성취도 평가</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/egn/sesdg/EssayReprtStdPage.do&#39;);">에세이 보고서</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/egn/sesdg/EgnSurveyStdPage.do&#39;);">설문조사</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/egn/chck/PrtFolioStdPage.do&#39;);">설계포트폴리오 조회</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">이수현황점검</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkWinOpen(&#39;/std/egn/chck/popwin/BeforeSbjectGradeViewStdPage.do&#39;);">공학프로그램 이수현황 점검</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/egn/chck/LrnRsltStdPage.do&#39;);">공학프로그램 학습성과 점검</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/egn/chck/DgriChangeStdPage.do&#39;);">학위과정(프로그램)변경</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/egn/chck/BeforeSbjectStdPage.do&#39;);">선수교과목이수현황 조회</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 py-4">
                        <h4 class="titlecolor01">
                            <a href="javascript:void(0)" onclick="linkUrl(&#39;&#39;);"><font color="white">학사 서비스</font></a>
                        </h4>

                        <ul class="list-unstyled depth02ul">

                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">등록관리</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/erollmnt/TutionNtPage.do&#39;);">등록금 고지서출력</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/erollmnt/PreSeterPage.do&#39;);">등록금/교육비 증명서 </a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/erollmnt/TutionEduPage.do&#39;);">이전학기 등록내역 조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/erollmnt/SenalClNtPage.do&#39;);">계절수업고지서 출력</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/erollmnt/PartPayNhtPage.do&#39;);">분할납부 고지서 출력</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">상담관리</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/cnslt/KwAbilUpStdPage.do&#39;);">광운역량이력서 입력</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/cnslt/CnsltTimeStdPage.do&#39;);">소속학과 교수 상담시간 조회</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/hak/cnslt/CnsltStsfdgRsrchStdPage.do&#39;);">상담만족도 조사</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;&#39;);">행정 서비스</a>
                                <ul class="depth03ul">
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/ads/admst/RsvTrnsfrnStdPage.do&#39;);">예비군 전입신고</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkWinOpen(&#39;http://kupis.kw.ac.kr&#39;);">중앙 도서관</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/sys/optrn/58459c5b27b6409aaf24359ae24f5213/BoardListStdPage.do&#39;);">대학평의회 자료실</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/sys/optrn/c9925e2c1341487ebc7595ba8b64376e/BoardListStdPage.do&#39;);">조교게시판</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/ads/admst/AstntRptStdPage.do&#39;);">조교등록과목조회 및 채점조교 활동보고서</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/ads/admst/SklstfAptdExamStdPage.do&#39;);">교직적성인성검사</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/ads/admst/MySchdulPage.do&#39;);">일정관리</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/sys/optrn/e4c863dfd8c7410d92bc4abc9542bccd/BoardListStdPage.do&#39;);">장소사용</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkWinOpen(&#39;https://www.kw.ac.kr/ko/life/notice.jsp?BoardMode=view&amp;DUID=21819&#39;);">Office 365</a>
                                    </li>
                                    <li>
                                        <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" onclick="linkUrl(&#39;/std/sys/optrn/MyNumberQrStdPage.do&#39;);">학번QR코드</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="side_menu">
            <div class="burger_box">
                <div class="menu-icon-container">
                    <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#" class="menu-icon js-menu_toggle closed">
                        <span class="menu-icon_box">
                            <span class="menu-icon_line menu-icon_line--1"></span>
                            <span class="menu-icon_line menu-icon_line--2"></span>
                            <span class="menu-icon_line menu-icon_line--3"></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="container">

                <div class="nav-side-menu">
                    <div class="mypage">
                        <a href="https://klas.kw.ac.kr/mep/ads/admst/MyInfoStdPage.do"><i class="fas fa-cog"></i>김정원(2017203012)</a> &nbsp;&nbsp;<span><a href="javascript:fnCmdLogout();">Logout</a><i class="fas fa-sign-out-alt"></i></span>
                    </div>
                    <div class="jquery-accordion-menu brown">
                        <ul id="sitemap">
                            <li class="active">
                                <a href="javascript:linkUrl(&#39;&#39;)">대학생활</a>
                                <ul class="submenu" style="display: none;">
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">수강관리</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/atnlc/TimetableStdPage.do&#39;);">수업시간표</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/ads/admst/KwAttendStdPage.do&#39;);">출석관리(KW출첵)</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/atnlc/LectrePlanStdPage.do&#39;);">강의계획서 조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/atnlc/LctreReqstNewProgPage.do&#39;);">수강신청 프로그램</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/atnlc/GiveupStdPage.do&#39;);">수강포기 신청</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/atnlc/ExchgHakjumStdPage.do&#39;);">교류 학점 신청</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/atnlc/CdpAtendStdPage.do&#39;);">CDP 출석내역</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/atnlc/CdpAtendQustnrStdPage.do&#39;);">CDP 출석여부 설문조사</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">학습결과</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/inqire/LctreEvlResultStdPage.do&#39;);">수업평가 결과 확인</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/inqire/AtnlcScreStdPage.do&#39;);">수강/성적 조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/inqire/StandStdPage.do&#39;);">석차 조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/inqire/ToeicStdPage.do&#39;);">어학성적 조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/inqire/JanghakStdPage.do&#39;);">장학 조회</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">학적관리</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/hakjuk/DetailMajorSelectStdPage.do&#39;);">세부전공 선택</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/hakjuk/CompnoMajorStdPage.do&#39;);">복수/부/심화전공 신청/조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/hakjuk/CntcSbjectStdPage.do&#39;);">연계전공 신청/조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/hakjuk/TmpabssklStdPage.do&#39;);">휴복학 신청</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                </ul>
                                <span class="collapsed"></span>
                            </li>
                            <li class="active">
                                <a href="javascript:linkUrl(&#39;&#39;)">강의종합정보</a>
                                <ul class="submenu" style="display: none;">
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">학습지원실</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/evltn/LctrumHomeStdPage.do&#39;);">강의종합</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/sport/d052b8f845784c639f036b102fdc3023/BoardListStdPage.do&#39;);">강의 공지사항</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/sport/573f918c23984ae8a88c398051bb1263/BoardQnaListStdPage.do&#39;);">강의 묻고답하기</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/sport/6972896bfe72408eb72926780e85d041/BoardListStdPage.do&#39;);">강의 자료실</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/sport/70778131bf7a421aba99dded74b3fb6b/BoardListStdPage.do&#39;);">수강생 자료실</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/evltn/TaskStdPage.do&#39;);">과제제출</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/evltn/OnlineTestStdPage.do&#39;);">온라인시험 응시</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/evltn/AnytmQuizStdPage.do&#39;);">수시퀴즈 응시</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/evltn/PrjctStdPage.do&#39;);">팀프로젝트</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/evltn/DscsnStdPage.do&#39;);">토론참여</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/sport/QustnrStdPage.do&#39;);">설문참여</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/evltn/LrnSttusStdPage.do&#39;);">학습현황 조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/cps/inqire/LctreEvlStdPage.do&#39;);">수업평가</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">온라인 강의</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/evltn/OnlineCntntsStdPage.do&#39;);">온라인 강의컨텐츠 보기</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/evltn/LrnSttusRtprgsStdPage.do&#39;);">온라인 컨텐츠 진도현황 조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/lctre/EClassStdPage.do&#39;);">E-class 강의 복습</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/lis/sport/DicStdPage.do&#39;);">용어사전</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                </ul>
                                <span class="collapsed"></span>
                            </li>
                            <li class="active">
                                <a href="javascript:linkUrl(&#39;&#39;)">공학교육</a>
                                <ul class="submenu" style="display: none;">
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">학생(수강)상담</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/egn/cnslt/SuhakPlanStdPage.do&#39;);">수학계획서 작성</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/egn/cnslt/CnsltDetailStdPage.do&#39;);">상담내역 조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/egn/cnslt/TrnsPntRCnsltStdPage.do&#39;);">전입생 학점인정 상담</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">학습성과 성취도 평가</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/egn/sesdg/EssayReprtStdPage.do&#39;);">에세이 보고서</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/egn/sesdg/EgnSurveyStdPage.do&#39;);">설문조사</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/egn/chck/PrtFolioStdPage.do&#39;);">설계포트폴리오 조회</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">이수현황점검</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkWinOpen(&#39;/std/egn/chck/popwin/BeforeSbjectGradeViewStdPage.do&#39;);">공학프로그램 이수현황 점검</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/egn/chck/LrnRsltStdPage.do&#39;);">공학프로그램 학습성과 점검</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/egn/chck/DgriChangeStdPage.do&#39;);">학위과정(프로그램)변경</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/egn/chck/BeforeSbjectStdPage.do&#39;);">선수교과목이수현황 조회</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                </ul>
                                <span class="collapsed"></span>
                            </li>
                            <li class="active">
                                <a href="javascript:linkUrl(&#39;&#39;)">학사 서비스</a>
                                <ul class="submenu" style="display: none;">
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">등록관리</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/erollmnt/TutionNtPage.do&#39;);">등록금 고지서출력</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/erollmnt/PreSeterPage.do&#39;);">등록금/교육비 증명서 </a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/erollmnt/TutionEduPage.do&#39;);">이전학기 등록내역 조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/erollmnt/SenalClNtPage.do&#39;);">계절수업고지서 출력</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/erollmnt/PartPayNhtPage.do&#39;);">분할납부 고지서 출력</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">상담관리</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/cnslt/KwAbilUpStdPage.do&#39;);">광운역량이력서 입력</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/cnslt/CnsltTimeStdPage.do&#39;);">소속학과 교수 상담시간 조회</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/hak/cnslt/CnsltStsfdgRsrchStdPage.do&#39;);">상담만족도 조사</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:linkUrl(&#39;&#39;);">행정 서비스</a>
                                        <ul class="submenu" style="display: none;">
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/ads/admst/RsvTrnsfrnStdPage.do&#39;);">예비군 전입신고</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkWinOpen(&#39;http://kupis.kw.ac.kr&#39;);">중앙 도서관</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/sys/optrn/58459c5b27b6409aaf24359ae24f5213/BoardListStdPage.do&#39;);">대학평의회 자료실</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/sys/optrn/c9925e2c1341487ebc7595ba8b64376e/BoardListStdPage.do&#39;);">조교게시판</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/ads/admst/AstntRptStdPage.do&#39;);">조교등록과목조회 및 채점조교 활동보고서</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/ads/admst/SklstfAptdExamStdPage.do&#39;);">교직적성인성검사</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/ads/admst/MySchdulPage.do&#39;);">일정관리</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/sys/optrn/e4c863dfd8c7410d92bc4abc9542bccd/BoardListStdPage.do&#39;);">장소사용</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkWinOpen(&#39;https://www.kw.ac.kr/ko/life/notice.jsp?BoardMode=view&amp;DUID=21819&#39;);">Office 365</a>
                                            </li>
                                            <li>
                                                <a href="javascript:linkUrl(&#39;/std/sys/optrn/MyNumberQrStdPage.do&#39;);">학번QR코드</a>
                                            </li>
                                        </ul>
                                        <span class="collapsed"></span>
                                    </li>
                                </ul>
                                <span class="collapsed"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script type="text/javascript">var deviceAgent = navigator.userAgent.toLowerCase();
        var ios = deviceAgent.match(/(iphone|ipod|ipad)/);
        var android = deviceAgent.match(/(android)/);

        $(document).ready(function () {
            // Requires jQuery
            $(document).on('click', '.js-menu_toggle.closed', function (e) {
                e.preventDefault(); $('.list_load, .list_item').stop();
                $(this).removeClass('closed').addClass('opened');

                $('.side_menu').css({ 'left': '0px' });

                var count = $('.list_item').length;
                $('.list_load').slideDown((count * .6) * 100);
                $('.list_item').each(function (i) {
                    var thisLI = $(this);
                    timeOut = 100 * i;
                    setTimeout(function () {
                        thisLI.css({
                            'opacity': '1',
                            'margin-left': '0'
                        });
                    }, 100 * i);
                });
            });

            $(document).on('click', '.js-menu_toggle.opened', function (e) {
                e.preventDefault(); $('.list_load, .list_item').stop();
                $(this).removeClass('opened').addClass('closed');

                $('.side_menu').css({ 'left': '-310px' });

                var count = $('.list_item').length;
                $('.list_item').css({
                    'opacity': '0',
                    'margin-left': '-20px'
                });
                $('.list_load').slideUp(300);
            });
        });

        function fnCmdLogout() {
            if (deviceAgent.indexOf("nuriwareapp") != -1) {
                if (ios) {
                    var message = { action: "appLogout", params: {} };
                    window.webkit.messageHandlers.callbackHandler.postMessage(message);
                } else if (android) {
                    window.webkit.appLogout();
                }
            }

            location.href = "/usr/cmn/login/Logout.do";



        }</script>
    @RenderBody()
    <footer>
        <div class="container">
            <p class="float-right btnup" style="bottom: 30px; position: fixed; right: 30px;">
                <a href="https://klas.kw.ac.kr/std/cmn/frame/Frame.do#"><i class="fas fa-arrow-circle-up"></i></a>
            </p>

            <div class="con_footer">
                <h1 class="logo"></h1>
                <div class="copyright">
                    <p>서울시 노원구 광운로 20 (월계동 447-1) 광운대학교(01897) 대표전화 02.940.5114</p>
                    <p>COPYRIGHTⓒKWANGWOON UNIVERSITY. ALL RIGHTS RESERVED</p>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>
